---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Навыки" />
		<p>
			Frontend: React, Redux Toolkit, Typescript, NextJS, Vite</p>
			
			<p>Backend: NodeJS, Express, NestJS, PostgreSQL
		</p>
	</div>
</section>
