---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/aleksei_shliapin_small.png"
			alt="FullStack Developer"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Обо мне" />
			<p class="about__text">
				Занимаюсь разработкой с азартом и неподдельным интересом, люблю своё дело.
			</p>
			<p class="about__text"></p>
				Основной стэк: React, Typescript, Redux Toolkit. В свободное время знакомлюсь с NextJS и Zustand. Имею представление о том, как работает NodeJS, Express, Sequelize, REST API и NestJS.
			</p>
		<p class="about__text"></p>
			Не боюсь решать новые задачи. Постоянно стремлюсь к обновлению и расширению своих компетенций. С удовольствием работаю в коллективе.
		</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
