---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Aleksei">
	<div class="terminal__skills">
		<h2>Мой стэк:</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/react.svg"
				color="#01BDD6"
				name="React"
			/>
			<TerminalIcon
				src="/assets/typescript.svg"
				color="#3077C6"
				name="TypeScript"
			/>
			<TerminalIcon src="/assets/javascript.svg" color="#FFE70B" name="JavaScript" />
			<TerminalIcon src="/assets/jest.svg" color="#16DF16" name="Jest" />
			<TerminalIcon
				src="/assets/html.svg"
				color="#015A9C"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/css.svg"
				color="#319C40"
				name="CSS"
			/>
			<TerminalIcon
				src="/assets/sass.svg"
				color="#BF4080"
				name="SASS"
			/>
			<TerminalIcon
				src="/assets/nodejs.svg"
				color="#407E37"
				name="NodeJS"
			/>
		</div>
	</div>
</Terminal>
